In [682]:
# Import Pandas Library 
import pandas as pd
import numpy

In [683]:
# jamstones = pd.read_csv('../../../fyp_data/jamstones.csv')
# lavval = pd.read_csv("../../../fyp_data/lavval.csv")
# newagefsg = pd.read_csv("../../../fyp_data/newagefsg.csv")

jamstones = pd.read_csv('jamstones.csv')
lavval = pd.read_csv("lavval.csv")
newagefsg = pd.read_csv("newagefsg.csv")

In [684]:
# jamstones.head()

In [685]:
# jamstones.describe()

In [686]:
# pd.set_option("display.max_rows", None, "display.max_columns", None)

Referring Sites

Skeleton code

FINAL OUTPUT FOR DATA IS:
- [excel_sheet]row_list = list of lists [[site, revenue, sales count], [...]]
- Combined list: combine_channels_list = list of lists [[site, revenue, sales count], [...]]

PROBABLY WILL USE DASHBOARDCARD07

Things that need to be done:
- Combine all three channels (DONE)
- Round to 2 d.p. (DONE)
- Capitalise site name (DONE)
- Add image of site (save for next time maybe)

In [687]:
# referring_site = excel_sheet['referring_site']
# referring_site.fillna(value="NA", inplace=True)
# sites = []
# item_list = ["www", "m", "l", "com", "org", "r", "sg", "lm", "live", "ee", "mail", "captcha", "search", "com/"]
# for index, value in referring_site.items():
#     site_words_list = []
#     if value == "NA":
#         site_words_list.append("NA")
#     else:
#         website_name = value.split("//")[1]
#         website_name_list1 = website_name.split(".")[0:1]
#         website_name_list2 = website_name.split(".")[1]
#         website_name_list2 = website_name_list2.split("/")[0:1]
#         for item in website_name_list1:
#             if item in item_list:  
#                 pass
#             else:
#                 site_words_list.append(item)
#         for item in website_name_list2:
#             if item in item_list:  
#                 pass
#             else:
#                 site_words_list.append(item)
#     if site_words_list == []:
#         sites.append("NA")
#     else:
#         sites.append(site_words_list[0])
        
# excel_sheet["referral_site_clean"] = sites

# count_list = []
# for item in sites:
#     count_list.append(1)
# excel_sheet["count"] = count_list

# excel_sheet_revenue_by_sale = excel_sheet.groupby("referral_site_clean")["count"].sum()
# excel_sheet_revenue_by_sale_df = pd.DataFrame(excel_sheet_revenue_by_sale)
# excel_sheet_revenue_by_sale_df.sort_values("count", ascending=False, inplace=True)
# excel_sheet_revenue_by_sale_df.drop("NA", inplace=True)

# excel_sheet_revenue_by_channel = excel_sheet.groupby("referral_site_clean")["total_price"].sum()
# excel_sheet_revenue_by_channel_df = pd.DataFrame(excel_sheet_revenue_by_channel)
# excel_sheet_revenue_by_channel_df.sort_values("total_price", ascending=False, inplace=True)
# excel_sheet_revenue_by_channel_df.drop("NA", inplace=True)

# combined_excel_sheet_sites_df = pd.merge(excel_sheet_revenue_by_channel_df, excel_sheet_revenue_by_sale_df, on="referral_site_clean")

# row_list =[]
  

# for index, rows in combined_excel_sheet_sites_df.iterrows():
#     my_list =[index, rows["total_price"], rows["count"]]
#     row_list.append(my_list)

# for row in row_list:
#     row[0] = row[0].capitalize()
#     row[1] = row[1].round(2)
#     row[2] = int(row[2])
# print(row_list)

Jamstones

Revenue

In [688]:
referring_site_jamstones = jamstones['referring_site']

In [689]:
# referring_site_jamstones.unique()

In [690]:
# referring_site_jamstones.value_counts()

In [691]:
# referring_site_jamstones.describe()

In [692]:
# jamstones['referring_site'].fillna("NA")
referring_site_jamstones.fillna(value="NA", inplace=True)
# referring_site_jamstones
# jamstones['referring_site']

In [693]:
# len(referring_site_jamstones)

In [694]:
# referring_site_jamstones = referring_site_jamstones.dropna()

sites = []
item_list = ["www", "m", "l", "com", "org", "r", "sg", "lm", "live", "ee", "mail", "captcha", "search", "com/"]
for index, value in referring_site_jamstones.items():
    site_words_list = []
    if value == "NA":
        site_words_list.append("NA")
    else:
        # print(value)
        website_name = value.split("//")[1]
        # print(website_name)
        website_name_list1 = website_name.split(".")[0:1]
        # print(website_name_list1)
        # print(website_name.split(".")[0])
        website_name_list2 = website_name.split(".")[1]
        # if len(website_name.split(".")) > 2:
        #     website_name_list3 = website_name.split(".")[2:3]
            # print(website_name.split(".")[2])
        website_name_list2 = website_name_list2.split("/")[0:1]
        # print(website_name_list2)
        for item in website_name_list1:
            if item in item_list:  
                pass
                # print(sites)
            else:
                site_words_list.append(item)
                # print(sites)
        # print(website_name)
        for item in website_name_list2:
            if item in item_list:  
                pass
            else:
                site_words_list.append(item)
    # print(site_words_list)
    if site_words_list == []:
        sites.append("NA")
    else:
        sites.append(site_words_list[0])

# print(sites)
# print(len(sites))

In [695]:
# jamstones_sites_df = pd.DataFrame(sites)

In [696]:
# jamstones_sites_df = jamstones_sites_df.value_counts()

In [697]:
# print(jamstones_sites_df)

In [698]:
jamstones["referral_site_clean"] = sites

In [699]:
count_list = []
for item in sites:
    count_list.append(1)
jamstones["count"] = count_list

In [700]:
jamstones_revenue_by_sale = jamstones.groupby("referral_site_clean")["count"].sum()

In [701]:
jamstones_revenue_by_sale

referral_site_clean
NA                      6598
bing                       5
drawnames                  2
facebook                  69
google                   580
instagram                477
jamstones                299
jamstonesbynewagefsg      29
linktr                     5
newagefsg                  3
omnibox                    2
outlook                    2
telegram                   5
yahoo                      2
Name: count, dtype: int64

In [702]:
jamstones_revenue_by_sale_df = pd.DataFrame(jamstones_revenue_by_sale)

In [703]:
jamstones_revenue_by_sale_df.sort_values("count", ascending=False, inplace=True)

In [704]:
jamstones_revenue_by_sale_df

                      count
referral_site_clean
NA                     6598
google                  580
instagram               477
jamstones               299
facebook                 69
jamstonesbynewagefsg     29
bing                      5
linktr                    5
telegram                  5
newagefsg                 3
drawnames                 2
omnibox                   2
outlook                   2
yahoo                     2

In [705]:
jamstones_revenue_by_sale_df.drop("NA", inplace=True)

In [706]:
jamstones_revenue_by_sale_df

                      count
referral_site_clean
google                  580
instagram               477
jamstones               299
facebook                 69
jamstonesbynewagefsg     29
bing                      5
linktr                    5
telegram                  5
newagefsg                 3
drawnames                 2
omnibox                   2
outlook                   2
yahoo                     2

In [707]:
jamstones_revenue_by_channel = jamstones.groupby("referral_site_clean")["total_price"].sum()

In [708]:
jamstones_revenue_by_channel

referral_site_clean
NA                      523235.96
bing                       414.10
drawnames                   85.80
facebook                  7170.51
google                   62687.10
instagram                44201.10
jamstones                25179.64
jamstonesbynewagefsg      1306.50
linktr                     397.10
newagefsg                  487.40
omnibox                    371.83
outlook                    192.73
telegram                   481.40
yahoo                      257.80
Name: total_price, dtype: float64

Transform dataframe results to revenue list

In [709]:
jamstones_revenue_by_channel_df = pd.DataFrame(jamstones_revenue_by_channel)

In [710]:
jamstones_revenue_by_channel_df.sort_values("total_price", ascending=False, inplace=True)

In [711]:
jamstones_revenue_by_channel_df

                      total_price
referral_site_clean
NA                      523235.96
google                   62687.10
instagram                44201.10
jamstones                25179.64
facebook                  7170.51
jamstonesbynewagefsg      1306.50
newagefsg                  487.40
telegram                   481.40
bing                       414.10
linktr                     397.10
omnibox                    371.83
yahoo                      257.80
outlook                    192.73
drawnames                   85.80

In [712]:
jamstones_revenue_by_channel_df.drop("NA", inplace=True)

Transform dataframe results to list

In [713]:
# jamstones_sites_df = pd.DataFrame(jamstones_sites_df)

In [714]:
# jamstones_sites_df

In [715]:
# jamstones_sites_df.drop("NA", inplace=True)

In [716]:
combined_jamstones_sites_df = pd.merge(jamstones_revenue_by_channel_df, jamstones_revenue_by_sale_df, on="referral_site_clean")

In [717]:
combined_jamstones_sites_df

                      total_price  count
referral_site_clean
google                   62687.10    580
instagram                44201.10    477
jamstones                25179.64    299
facebook                  7170.51     69
jamstonesbynewagefsg      1306.50     29
newagefsg                  487.40      3
telegram                   481.40      5
bing                       414.10      5
linktr                     397.10      5
omnibox                    371.83      2
yahoo                      257.80      2
outlook                    192.73      2
drawnames                   85.80      2

In [718]:
# combined_jamstones_sites_df.to_numpy().tolist()

In [719]:
jamstones_row_list =[]
  
# Iterate over each row
for index, rows in combined_jamstones_sites_df.iterrows():
    
    # print(index)
    # print(rows)
    my_list =[index, rows["total_price"], rows["count"]]
    # print(my_list)
    # append the list to the final list
    jamstones_row_list.append(my_list)
  
for row in jamstones_row_list:
    row[0] = row[0].capitalize()
    row[1] = row[1].round(2)
    row[2] = int(row[2])

# Print the list
print(jamstones_row_list)

[['Google', 62687.1, 580], ['Instagram', 44201.1, 477], ['Jamstones', 25179.64, 299], ['Facebook', 7170.51, 69], ['Jamstonesbynewagefsg', 1306.5, 29], ['Newagefsg', 487.4, 3], ['Telegram', 481.4, 5], ['Bing', 414.1, 5], ['Linktr', 397.1, 5], ['Omnibox', 371.83, 2], ['Yahoo', 257.8, 2], ['Outlook', 192.73, 2], ['Drawnames', 85.8, 2]]

In [720]:
# jamstones_sites_df.columns = ["number"]

In [721]:
# jamstones_sites_df

In [722]:
# sites_number_list = jamstones_sites_df["number"].tolist()

In [723]:
# print(sites_number_list)

In [724]:
# sites_unclean_list = jamstones_sites_df.index.values.tolist()
# print(sites_unclean_list)

In [725]:
# site_list = []
# for item in sites_unclean_list:
#     site_list.append(item[0])
# print(site_list)

lavval

In [726]:
referring_site = lavval['referring_site']
referring_site.fillna(value="NA", inplace=True)
sites = []
item_list = ["www", "m", "l", "com", "org", "r", "sg", "lm", "live", "ee", "mail", "captcha", "search", "com/"]
for index, value in referring_site.items():
    site_words_list = []
    if value == "NA":
        site_words_list.append("NA")
    else:
        website_name = value.split("//")[1]
        website_name_list1 = website_name.split(".")[0:1]
        website_name_list2 = website_name.split(".")[1]
        website_name_list2 = website_name_list2.split("/")[0:1]
        for item in website_name_list1:
            if item in item_list:  
                pass
            else:
                site_words_list.append(item)
        for item in website_name_list2:
            if item in item_list:  
                pass
            else:
                site_words_list.append(item)
    if site_words_list == []:
        sites.append("NA")
    else:
        sites.append(site_words_list[0])
        
lavval["referral_site_clean"] = sites

count_list = []
for item in sites:
    count_list.append(1)
lavval["count"] = count_list

lavval_revenue_by_sale = lavval.groupby("referral_site_clean")["count"].sum()
lavval_revenue_by_sale_df = pd.DataFrame(lavval_revenue_by_sale)
lavval_revenue_by_sale_df.sort_values("count", ascending=False, inplace=True)
lavval_revenue_by_sale_df.drop("NA", inplace=True)

lavval_revenue_by_channel = lavval.groupby("referral_site_clean")["total_price"].sum()
lavval_revenue_by_channel_df = pd.DataFrame(lavval_revenue_by_channel)
lavval_revenue_by_channel_df.sort_values("total_price", ascending=False, inplace=True)
lavval_revenue_by_channel_df.drop("NA", inplace=True)

combined_lavval_sites_df = pd.merge(lavval_revenue_by_channel_df, lavval_revenue_by_sale_df, on="referral_site_clean")

lavval_row_list =[]
  

for index, rows in combined_lavval_sites_df.iterrows():
    my_list =[index, rows["total_price"], rows["count"]]
    lavval_row_list.append(my_list)

for row in lavval_row_list:
    row[0] = row[0].capitalize()
    row[1] = row[1].round(2)
    row[2] = int(row[2])
print(lavval_row_list)

[['Linktr', 2389.05, 19], ['Google', 2210.24, 27], ['Lavval', 1105.07, 18], ['Facebook', 776.25, 6], ['Newagefsg', 592.56, 5], ['Instagram', 275.51, 4]]

In [727]:
# referring_site_lavval = lavval['referring_site']

In [728]:
# referring_site_lavval.unique()

In [729]:
# referring_site_lavval = referring_site_lavval.dropna()
# sites = []
# item_list = ["www", "m", "l", "com", "org", "r", "sg", "lm", "live", "ee", "mail", "captcha"]
# for index, value in referring_site_lavval.items():
#     # print(value)
#     website_name = value.split("//")[1]
#     # print(website_name)
#     website_name_list1 = website_name.split(".")[0:1]
#     # print(website_name_list1)
#     website_name_list2 = website_name.split(".")[1]
#     website_name_list2 = website_name_list2.split("/")[0:1]
#     # print(website_name_list2)
#     for item in website_name_list1:
#         if item in item_list:  
#             pass
#             # print(sites)
#         else:
#             sites.append(item)
#             # print(sites)
#     # print(website_name)
#     for item in website_name_list2:
#         if item in item_list:  
#             pass
#         else:
#             sites.append(item)

# # print(sites)

In [730]:
# lavval_sites_df = pd.DataFrame(sites)

In [731]:
# lavval_sites_df.value_counts()

In [732]:
# lavval_sites_series = lavval_sites_df.value_counts()
# lavval_sites_df = pd.DataFrame(lavval_sites_series)
# lavval_sites_df.columns = ["number"]

# lavval_sites_number_list = lavval_sites_df["number"].tolist()

# lavval_sites_unclean_list = lavval_sites_df.index.values.tolist()

# lavval_site_list = []
# for item in lavval_sites_unclean_list:
#     lavval_site_list.append(item[0])

In [733]:
# print(lavval_site_list)

In [734]:
# print(lavval_sites_number_list)

newagefsg

In [735]:
referring_site = newagefsg['referring_site']
referring_site.fillna(value="NA", inplace=True)
sites = []
item_list = ["www", "m", "l", "com", "org", "r", "sg", "lm", "live", "ee", "mail", "captcha", "search", "com/"]
for index, value in referring_site.items():
    site_words_list = []
    if value == "NA":
        site_words_list.append("NA")
    else:
        website_name = value.split("//")[1]
        website_name_list1 = website_name.split(".")[0:1]
        website_name_list2 = website_name.split(".")[1]
        website_name_list2 = website_name_list2.split("/")[0:1]
        for item in website_name_list1:
            if item in item_list:  
                pass
            else:
                site_words_list.append(item)
        for item in website_name_list2:
            if item in item_list:  
                pass
            else:
                site_words_list.append(item)
    if site_words_list == []:
        sites.append("NA")
    else:
        sites.append(site_words_list[0])
        
newagefsg["referral_site_clean"] = sites

count_list = []
for item in sites:
    count_list.append(1)
newagefsg["count"] = count_list

newagefsg_revenue_by_sale = newagefsg.groupby("referral_site_clean")["count"].sum()
newagefsg_revenue_by_sale_df = pd.DataFrame(newagefsg_revenue_by_sale)
newagefsg_revenue_by_sale_df.sort_values("count", ascending=False, inplace=True)
newagefsg_revenue_by_sale_df.drop("NA", inplace=True)

newagefsg_revenue_by_channel = newagefsg.groupby("referral_site_clean")["total_price"].sum()
newagefsg_revenue_by_channel_df = pd.DataFrame(newagefsg_revenue_by_channel)
newagefsg_revenue_by_channel_df.sort_values("total_price", ascending=False, inplace=True)
newagefsg_revenue_by_channel_df.drop("NA", inplace=True)

combined_newagefsg_sites_df = pd.merge(newagefsg_revenue_by_channel_df, newagefsg_revenue_by_sale_df, on="referral_site_clean")

newagefsg_row_list =[]
  

for index, rows in combined_newagefsg_sites_df.iterrows():
    my_list =[index, rows["total_price"], rows["count"]]
    newagefsg_row_list.append(my_list)

for row in newagefsg_row_list:
    row[0] = row[0].capitalize()
    row[1] = row[1].round(2)
    row[2] = int(row[2])
print(newagefsg_row_list)

[['Google', 756.3, 9], ['Linktr', 32.0, 1]]

In [736]:
# referring_site_newagefsg = newagefsg['referring_site']

In [737]:
# referring_site_newagefsg.unique()

In [738]:
# referring_site_newagefsg = referring_site_newagefsg.dropna()
# sites = []
# item_list = ["www", "m", "l", "com", "org", "r", "sg", "lm", "live", "ee", "mail", "captcha"]
# for index, value in referring_site_newagefsg.items():
#     # print(value)
#     website_name = value.split("//")[1]
#     # print(website_name)
#     website_name_list1 = website_name.split(".")[0:1]
#     # print(website_name_list1)
#     website_name_list2 = website_name.split(".")[1]
#     website_name_list2 = website_name_list2.split("/")[0:1]
#     # print(website_name_list2)
#     for item in website_name_list1:
#         if item in item_list:  
#             pass
#             # print(sites)
#         else:
#             sites.append(item)
#             # print(sites)
#     # print(website_name)
#     for item in website_name_list2:
#         if item in item_list:  
#             pass
#         else:
#             sites.append(item)

# # print(sites)

In [739]:
# newagefsg_sites_df = pd.DataFrame(sites)

In [740]:
# newagefsg_sites_df.value_counts()

In [741]:
# newagefsg_sites_series = newagefsg_sites_df.value_counts()
# newagefsg_sites_df = pd.DataFrame(newagefsg_sites_series)
# newagefsg_sites_df.columns = ["number"]

# newagefsg_sites_number_list = newagefsg_sites_df["number"].tolist()

# newagefsg_sites_unclean_list = newagefsg_sites_df.index.values.tolist()

# newagefsg_site_list = []
# for item in newagefsg_sites_unclean_list:
#     newagefsg_site_list.append(item[0])

In [742]:
# print(newagefsg_site_list)

In [743]:
# print(newagefsg_sites_number_list)

Try to combine all channels

In [744]:
combine_channels_list = jamstones_row_list.copy()

In [745]:
print(combine_channels_list)

[['Google', 62687.1, 580], ['Instagram', 44201.1, 477], ['Jamstones', 25179.64, 299], ['Facebook', 7170.51, 69], ['Jamstonesbynewagefsg', 1306.5, 29], ['Newagefsg', 487.4, 3], ['Telegram', 481.4, 5], ['Bing', 414.1, 5], ['Linktr', 397.1, 5], ['Omnibox', 371.83, 2], ['Yahoo', 257.8, 2], ['Outlook', 192.73, 2], ['Drawnames', 85.8, 2]]

In [746]:
channels_in_list = []
for channel in combine_channels_list:
    channels_in_list.append(channel[0])
for row in lavval_row_list:
    if row[0] not in channels_in_list:
        combine_channels_list.append(row)
    for channel in combine_channels_list:
        if (row[0] == channel[0]):
            channel[1] += row[1]
            channel[2] += row[2]

channels_in_list = []
for channel in combine_channels_list:
    channels_in_list.append(channel[0])
for row in newagefsg_row_list:
    if row[0] not in channels_in_list:
        combine_channels_list.append(row)
    for channel in combine_channels_list:
        if (row[0] == channel[0]):
            channel[1] += row[1]
            channel[2] += row[2]
print(combine_channels_list)

[['Google', 65653.64, 616], ['Instagram', 44476.61, 481], ['Jamstones', 25179.64, 299], ['Facebook', 7946.76, 75], ['Jamstonesbynewagefsg', 1306.5, 29], ['Newagefsg', 1079.96, 8], ['Telegram', 481.4, 5], ['Bing', 414.1, 5], ['Linktr', 2818.15, 25], ['Omnibox', 371.83, 2], ['Yahoo', 257.8, 2], ['Outlook', 192.73, 2], ['Drawnames', 85.8, 2], ['Lavval', 2210.14, 36]]

Peak period for purchases

Skeleton data

FINAL OUTPUT FOR DATA IS:
- date_list (the dates)
- dates_number_list (the occurence of each dates)

PROBABLY WILL USE LINE CHART 02

In [747]:
# date_col = excel_sheet['created_at']
# date_col = date_col.dropna()
# dates = []
# for index, value in date_col.items():
#     # print(value)
#     date = value.split("T")[0]
#     dates.append(date)
# # print(dates)
# dates_df = pd.DataFrame(dates)
# dates_df.value_counts().sort_index()

# dates_series = dates_df.value_counts().sort_index()
# dates_df = pd.DataFrame(dates_series)
# dates_df.columns = ["number"]

# dates_number_list = dates_df["number"].tolist()

# dates_unclean_list = dates_df.index.values.tolist()

# dates_list = []
# for item in dates_unclean_list:
#     dates_list.append(item[0])

jamstones

In [748]:
date_jamstones = jamstones['created_at']

In [749]:
date_jamstones

0       2021-12-28T02:19:52+08:00
1       2021-12-28T02:04:06+08:00
2       2021-12-27T22:58:26+08:00
3       2021-12-27T22:35:17+08:00
4       2021-12-27T21:34:01+08:00
                  ...
8073    2020-07-24T19:24:56+08:00
8074    2020-07-24T18:45:44+08:00
8075    2020-07-24T16:36:08+08:00
8076    2020-07-24T16:30:54+08:00
8077    2020-07-24T16:27:46+08:00
Name: created_at, Length: 8078, dtype: object

In [750]:
date_jamstones = date_jamstones.dropna()
dates = []
for index, value in date_jamstones.items():
    # print(value)
    date = value.split("T")[0]
    dates.append(date)
# print(dates)

In [751]:
jamstones_dates_df = pd.DataFrame(dates)

In [752]:
jamstones_dates_df.value_counts().sort_index()

2020-07-24    12
2020-07-25    19
2020-07-26     8
2020-07-27    10
2020-07-28     4
              ..
2021-12-24     9
2021-12-25    10
2021-12-26    64
2021-12-27    23
2021-12-28     2
Length: 518, dtype: int64

In [753]:
jamstones_dates_series = jamstones_dates_df.value_counts().sort_index()
jamstones_dates_df = pd.DataFrame(jamstones_dates_series)
jamstones_dates_df.columns = ["number"]

jamstones_dates_number_list = jamstones_dates_df["number"].tolist()

jamstones_dates_unclean_list = jamstones_dates_df.index.values.tolist()

jamstones_dates_list = []
for item in jamstones_dates_unclean_list:
    jamstones_dates_list.append(item[0])

In [754]:
print(jamstones_dates_number_list)

[12, 19, 8, 10, 4, 8, 1, 1, 12, 14, 7, 2, 3, 8, 21, 10, 43, 75, 4, 2, 3, 10, 18, 11, 2, 11, 3, 7, 3, 3, 5, 2, 2, 3, 3, 1, 17, 14, 10, 4, 5, 5, 2, 16, 11, 5, 2, 12, 9, 6, 9, 18, 4, 2, 3, 1, 3, 6, 11, 4, 3, 7, 2, 3, 5, 9, 9, 3, 7, 5, 7, 14, 8, 17, 9, 17, 3, 2, 22, 64, 13, 7, 9, 7, 7, 6, 9, 7, 1, 3, 7, 21, 29, 8, 3, 12, 12, 4, 4, 7, 16, 7, 10, 7, 3, 18, 13, 16, 14, 41, 9, 7, 2, 6, 3, 3, 3, 5, 1, 3, 11, 9, 3, 6, 8, 14, 7, 9, 14, 8, 14, 13, 4, 7, 8, 10, 4, 13, 21, 13, 14, 20, 13, 14, 5, 19, 17, 14, 8, 18, 6, 15, 6, 2, 4, 7, 5, 10, 9, 23, 10, 9, 8, 17, 13, 14, 9, 7, 8, 10, 9, 9, 4, 5, 6, 8, 3, 10, 4, 4, 3, 1, 5, 2, 5, 8, 4, 9, 6, 4, 4, 2, 4, 2, 5, 8, 4, 7, 1, 2, 3, 3, 9, 15, 11, 12, 7, 8, 5, 6, 8, 7, 7, 13, 8, 15, 26, 7, 7, 9, 6, 16, 12, 10, 4, 14, 5, 8, 8, 9, 8, 10, 9, 10, 9, 8, 2, 6, 7, 8, 6, 2, 4, 8, 10, 11, 12, 6, 10, 3, 2, 8, 19, 10, 26, 8, 4, 7, 36, 15, 3, 2, 3, 1, 1, 2, 1, 6, 2, 4, 7, 5, 4, 4, 8, 6, 10, 5, 12, 12, 18, 16, 10, 6, 8, 5, 2, 3, 4, 6, 8, 1, 1, 5, 11, 7, 3, 5, 10, 23, 11, 7, 13, 7, 5, 3, 2, 3, 4, 11, 20, 13, 8, 5, 4, 1, 3, 28, 7, 15, 11, 11, 10, 5, 6, 15, 38, 16, 4, 10, 2, 7, 9, 4, 5, 3, 4, 2, 1, 1, 13, 8, 3, 9, 4, 1, 7, 2, 11, 6, 4, 7, 8, 9, 6, 4, 9, 11, 7, 5, 13, 27, 18, 10, 20, 14, 25, 46, 13, 2, 12, 26, 21, 18, 18, 38, 36, 22, 5, 3, 6, 10, 4, 5, 3, 6, 4, 5, 6, 124, 9, 6, 9, 13, 5, 13, 167, 10, 14, 10, 16, 5, 9, 236, 11, 11, 11, 123, 15, 11, 121, 6, 4, 5, 4, 6, 5, 167, 11, 8, 4, 4, 5, 131, 11, 11, 4, 10, 9, 11, 9, 148, 7, 4, 12, 16, 11, 5, 177, 26, 15, 44, 53, 19, 26, 86, 16, 15, 10, 12, 15, 13, 100, 47, 25, 15, 15, 14, 15, 82, 28, 21, 16, 12, 18, 10, 106, 21, 3, 11, 203, 39, 12, 12, 12, 9, 8, 6, 6, 9, 94, 26, 6, 8, 17, 9, 11, 117, 82, 10, 29, 25, 20, 20, 119, 42, 27, 22, 77, 37, 31, 166, 111, 32, 23, 19, 28, 22, 96, 37, 101, 11, 13, 9, 10, 64, 23, 2]

In [755]:
print(jamstones_dates_list)

['2020-07-24', '2020-07-25', '2020-07-26', '2020-07-27', '2020-07-28', '2020-07-29', '2020-07-30', '2020-07-31', '2020-08-01', '2020-08-02', '2020-08-03', '2020-08-04', '2020-08-05', '2020-08-06', '2020-08-07', '2020-08-08', '2020-08-09', '2020-08-10', '2020-08-11', '2020-08-12', '2020-08-13', '2020-08-14', '2020-08-15', '2020-08-16', '2020-08-17', '2020-08-18', '2020-08-19', '2020-08-20', '2020-08-21', '2020-08-22', '2020-08-23', '2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27', '2020-08-28', '2020-08-29', '2020-08-30', '2020-08-31', '2020-09-01', '2020-09-02', '2020-09-03', '2020-09-04', '2020-09-05', '2020-09-06', '2020-09-07', '2020-09-08', '2020-09-09', '2020-09-10', '2020-09-11', '2020-09-12', '2020-09-13', '2020-09-14', '2020-09-15', '2020-09-16', '2020-09-17', '2020-09-18', '2020-09-19', '2020-09-20', '2020-09-21', '2020-09-22', '2020-09-23', '2020-09-24', '2020-09-25', '2020-09-26', '2020-09-27', '2020-09-28', '2020-09-29', '2020-09-30', '2020-10-01', '2020-10-02', '2020-10-03', '2020-10-04', '2020-10-05', '2020-10-06', '2020-10-07', '2020-10-08', '2020-10-09', '2020-10-10', '2020-10-11', '2020-10-12', '2020-10-13', '2020-10-14', '2020-10-15', '2020-10-16', '2020-10-17', '2020-10-18', '2020-10-19', '2020-10-20', '2020-10-22', '2020-10-23', '2020-10-24', '2020-10-25', '2020-10-26', '2020-10-27', '2020-10-28', '2020-10-29', '2020-10-30', '2020-10-31', '2020-11-01', '2020-11-02', '2020-11-03', '2020-11-04', '2020-11-05', '2020-11-06', '2020-11-07', '2020-11-08', '2020-11-09', '2020-11-10', '2020-11-11', '2020-11-12', '2020-11-13', '2020-11-14', '2020-11-15', '2020-11-16', '2020-11-17', '2020-11-18', '2020-11-19', '2020-11-20', '2020-11-21', '2020-11-22', '2020-11-23', '2020-11-24', '2020-11-25', '2020-11-26', '2020-11-27', '2020-11-28', '2020-11-29', '2020-11-30', '2020-12-01', '2020-12-02', '2020-12-03', '2020-12-04', '2020-12-05', '2020-12-06', '2020-12-07', '2020-12-08', '2020-12-09', '2020-12-10', '2020-12-11', '2020-12-12', '2020-12-13', '2020-12-14', '2020-12-15', '2020-12-16', '2020-12-17', '2020-12-18', '2020-12-19', '2020-12-20', '2020-12-21', '2020-12-22', '2020-12-23', '2020-12-24', '2020-12-25', '2020-12-26', '2020-12-27', '2020-12-28', '2020-12-29', '2020-12-30', '2020-12-31', '2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04', '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08', '2021-01-09', '2021-01-10', '2021-01-11', '2021-01-12', '2021-01-13', '2021-01-14', '2021-01-15', '2021-01-16', '2021-01-17', '2021-01-18', '2021-01-19', '2021-01-21', '2021-01-23', '2021-01-24', '2021-01-25', '2021-01-26', '2021-01-27', '2021-01-28', '2021-01-29', '2021-01-30', '2021-01-31', '2021-02-01', '2021-02-02', '2021-02-03', '2021-02-04', '2021-02-05', '2021-02-06', '2021-02-07', '2021-02-08', '2021-02-09', '2021-02-10', '2021-02-11', '2021-02-12', '2021-02-13', '2021-02-14', '2021-02-15', '2021-02-16', '2021-02-17', '2021-02-18', '2021-02-19', '2021-02-20', '2021-02-21', '2021-02-22', '2021-02-23', '2021-02-24', '2021-02-25', '2021-02-26', '2021-02-27', '2021-02-28', '2021-03-01', '2021-03-02', '2021-03-03', '2021-03-04', '2021-03-05', '2021-03-06', '2021-03-07', '2021-03-08', '2021-03-09', '2021-03-10', '2021-03-11', '2021-03-12', '2021-03-13', '2021-03-14', '2021-03-15', '2021-03-16', '2021-03-17', '2021-03-18', '2021-03-19', '2021-03-20', '2021-03-21', '2021-03-22', '2021-03-23', '2021-03-24', '2021-03-25', '2021-03-26', '2021-03-27', '2021-03-28', '2021-03-29', '2021-03-30', '2021-03-31', '2021-04-01', '2021-04-02', '2021-04-03', '2021-04-04', '2021-04-05', '2021-04-06', '2021-04-07', '2021-04-08', '2021-04-09', '2021-04-10', '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14', '2021-04-15', '2021-04-17', '2021-04-18', '2021-04-19', '2021-04-20', '2021-04-21', '2021-04-22', '2021-04-23', '2021-04-24', '2021-04-25', '2021-04-26', '2021-04-27', '2021-04-28', '2021-04-29', '2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03', '2021-05-04', '2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08', '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12', '2021-05-13', '2021-05-14', '2021-05-15', '2021-05-16', '2021-05-17', '2021-05-18', '2021-05-19', '2021-05-20', '2021-05-21', '2021-05-22', '2021-05-23', '2021-05-24', '2021-05-25', '2021-05-26', '2021-05-27', '2021-05-28', '2021-05-29', '2021-05-30', '2021-05-31', '2021-06-02', '2021-06-03', '2021-06-04', '2021-06-05', '2021-06-06', '2021-06-07', '2021-06-08', '2021-06-09', '2021-06-10', '2021-06-11', '2021-06-12', '2021-06-13', '2021-06-14', '2021-06-15', '2021-06-16', '2021-06-17', '2021-06-18', '2021-06-19', '2021-06-20', '2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24', '2021-06-25', '2021-06-26', '2021-06-27', '2021-06-28', '2021-06-29', '2021-06-30', '2021-07-01', '2021-07-02', '2021-07-03', '2021-07-04', '2021-07-05', '2021-07-06', '2021-07-07', '2021-07-08', '2021-07-09', '2021-07-10', '2021-07-11', '2021-07-12', '2021-07-13', '2021-07-14', '2021-07-15', '2021-07-16', '2021-07-17', '2021-07-18', '2021-07-19', '2021-07-20', '2021-07-21', '2021-07-22', '2021-07-23', '2021-07-24', '2021-07-25', '2021-07-26', '2021-07-27', '2021-07-28', '2021-07-29', '2021-07-30', '2021-07-31', '2021-08-01', '2021-08-02', '2021-08-03', '2021-08-04', '2021-08-05', '2021-08-06', '2021-08-07', '2021-08-08', '2021-08-09', '2021-08-10', '2021-08-11', '2021-08-12', '2021-08-13', '2021-08-14', '2021-08-15', '2021-08-16', '2021-08-17', '2021-08-18', '2021-08-19', '2021-08-20', '2021-08-21', '2021-08-22', '2021-08-23', '2021-08-24', '2021-08-25', '2021-08-26', '2021-08-27', '2021-08-28', '2021-08-29', '2021-08-30', '2021-08-31', '2021-09-01', '2021-09-02', '2021-09-03', '2021-09-04', '2021-09-05', '2021-09-06', '2021-09-07', '2021-09-08', '2021-09-09', '2021-09-10', '2021-09-11', '2021-09-12', '2021-09-13', '2021-09-14', '2021-09-15', '2021-09-16', '2021-09-17', '2021-09-18', '2021-09-19', '2021-09-20', '2021-09-21', '2021-09-22', '2021-09-23', '2021-09-24', '2021-09-25', '2021-09-26', '2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30', '2021-10-01', '2021-10-02', '2021-10-03', '2021-10-04', '2021-10-05', '2021-10-06', '2021-10-07', '2021-10-08', '2021-10-09', '2021-10-10', '2021-10-11', '2021-10-12', '2021-10-13', '2021-10-14', '2021-10-15', '2021-10-16', '2021-10-17', '2021-10-18', '2021-10-19', '2021-10-20', '2021-10-21', '2021-10-22', '2021-10-23', '2021-10-24', '2021-10-25', '2021-10-26', '2021-10-27', '2021-10-28', '2021-10-29', '2021-10-30', '2021-10-31', '2021-11-01', '2021-11-02', '2021-11-03', '2021-11-04', '2021-11-05', '2021-11-06', '2021-11-07', '2021-11-08', '2021-11-09', '2021-11-10', '2021-11-11', '2021-11-12', '2021-11-13', '2021-11-14', '2021-11-15', '2021-11-16', '2021-11-17', '2021-11-18', '2021-11-19', '2021-11-20', '2021-11-21', '2021-11-22', '2021-11-23', '2021-11-24', '2021-11-25', '2021-11-26', '2021-11-27', '2021-11-28', '2021-11-29', '2021-11-30', '2021-12-01', '2021-12-02', '2021-12-03', '2021-12-04', '2021-12-05', '2021-12-06', '2021-12-07', '2021-12-08', '2021-12-09', '2021-12-10', '2021-12-11', '2021-12-12', '2021-12-13', '2021-12-14', '2021-12-15', '2021-12-16', '2021-12-17', '2021-12-18', '2021-12-19', '2021-12-20', '2021-12-21', '2021-12-22', '2021-12-23', '2021-12-24', '2021-12-25', '2021-12-26', '2021-12-27', '2021-12-28']

lavval

In [756]:
date_col_lavval = lavval['created_at']
date_col_lavval = date_col_lavval.dropna()
dates = []
for index, value in date_col_lavval.items():
    # print(value)
    date = value.split("T")[0]
    dates.append(date)
# print(dates)
dates_df_lavval = pd.DataFrame(dates)
dates_df_lavval.value_counts().sort_index()

dates_series_lavval = dates_df_lavval.value_counts().sort_index()
dates_df_lavval = pd.DataFrame(dates_series_lavval)
dates_df_lavval.columns = ["number"]

dates_number_list_lavval = dates_df_lavval["number"].tolist()

dates_unclean_list_lavval = dates_df_lavval.index.values.tolist()

dates_list_lavval = []
for item in dates_unclean_list_lavval:
    dates_list_lavval.append(item[0])

In [757]:
print(dates_number_list_lavval)

[8, 9, 2, 1, 4, 3, 3, 3, 1, 1, 1, 23, 8, 1, 1, 1, 3, 1, 1, 2, 1, 1, 1, 1, 1, 1, 8, 22, 4, 3, 1, 1, 1, 3, 3, 1, 2, 3, 3, 3, 3, 2, 4, 2, 1, 4, 4, 2, 2, 1, 3, 1, 1, 3, 3, 4, 1, 1, 1, 3, 1, 1, 1, 2, 2, 2, 3, 3, 1, 3, 5, 3, 2, 3, 1, 5, 2, 3]

In [758]:
print(dates_list_lavval)

['2021-10-20', '2021-10-21', '2021-10-22', '2021-10-23', '2021-10-25', '2021-10-26', '2021-10-27', '2021-10-28', '2021-10-29', '2021-11-01', '2021-11-02', '2021-11-03', '2021-11-04', '2021-11-05', '2021-11-08', '2021-11-09', '2021-11-12', '2021-11-13', '2021-11-14', '2021-11-15', '2021-11-16', '2021-11-17', '2021-11-21', '2021-11-22', '2021-11-23', '2021-11-24', '2021-11-25', '2021-11-26', '2021-11-27', '2021-11-28', '2021-11-29', '2021-11-30', '2021-12-01', '2021-12-02', '2021-12-04', '2021-12-06', '2021-12-07', '2021-12-08', '2021-12-09', '2021-12-10', '2021-12-11', '2021-12-12', '2021-12-13', '2021-12-14', '2021-12-15', '2021-12-16', '2021-12-17', '2021-12-18', '2021-12-19', '2021-12-20', '2021-12-21', '2021-12-22', '2021-12-23', '2021-12-24', '2021-12-25', '2021-12-26', '2021-12-27', '2021-12-28', '2021-12-29', '2021-12-31', '2022-01-01', '2022-01-03', '2022-01-04', '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08', '2022-01-09', '2022-01-10', '2022-01-12', '2022-01-13', '2022-01-15', '2022-01-16', '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20', '2022-01-21']

newagefsg

In [759]:
date_col_newagefsg = newagefsg['created_at']
date_col_newagefsg = date_col_newagefsg.dropna()
dates = []
for index, value in date_col_newagefsg.items():
    # print(value)
    date = value.split("T")[0]
    dates.append(date)
# print(dates)
dates_df_newagefsg = pd.DataFrame(dates)
dates_df_newagefsg.value_counts().sort_index()

dates_series_newagefsg = dates_df_newagefsg.value_counts().sort_index()
dates_df_newagefsg = pd.DataFrame(dates_series_newagefsg)
dates_df_newagefsg.columns = ["number"]

dates_number_list_newagefsg = dates_df_newagefsg["number"].tolist()

dates_unclean_list_newagefsg = dates_df_newagefsg.index.values.tolist()

dates_list_newagefsg = []
for item in dates_unclean_list_newagefsg:
    dates_list_newagefsg.append(item[0])

In [760]:
print(dates_number_list_newagefsg)

[10, 3, 8]

In [761]:
print(dates_list_newagefsg)

['2022-01-20', '2022-01-21', '2022-01-22']